extends "base.jade"

block content
  h2 Add task

  form
    ul#add-task
      li
        label Name
        input(type="text")
      li
        label() Notes
        textarea()
      li
        label Tags
        input#add-tag(type="text")
        ul#tags
      li
        button Submit
