extends "base.jade"

block content
  h2 Add task

  form(action="/add", method="POST")
    ul#add-task
      li
        input#task-name(name="task-name", type="text", placeholder="Name")
      li
        input#task-time(name="task-time", type="text", placeholder="Estimated Time")
      li
        textarea#task-notes(name="task-notes", cols=100, rows=10, placeholder="Notes")
      li
        label Snaptime
        div#snaptime
        input#task-snaptime(name="task-snaptime", type="text", placeholder="time")
      li
        label Deadline
        div#deadline
        input#task-deadline(name="task-deadline", type="text", placeholder="time")
      li
        input#tag(name="task-tags", type="text", placeholder="some,tags,here")
      li
        button Add task

block scripts
  script
    var snaptime_k = new Kalendae('snaptime');
    snaptime_k.subscribe('change', function() {
      $('task-snaptime').val(this.getSelected());
    });
    var deadline_k = new Kalendae('deadline');
    deadline_k.subscribe('change', function() {
      $('task-deadline').val(this.getSelected());
    });
